﻿@model IEnumerable<PictureGallery.Models.Picture>

@{
    ViewData["Title"] = "My pictures";
}

<h3>My pictures</h3>
@foreach (var item in Model)
{

    <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
        <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id }) />
    </a>
}
<table class="table" id="myPictures">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th id="title">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th id="description">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th id="album">
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th id="dateCreated">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th id="amountOfLikes">
                @Html.DisplayNameFor(model => model.AmountOfLikes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                            <img src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) width="100" />
                        </a>
                    }
                </td>
                <td>
                    <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Album.Id">
                        @Html.DisplayFor(modelItem => item.Album.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfLikes)
                </td>
                <td>
                    <a asp-controller="Pictures" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">

        function sortTable(f, n) {
            var rows = $('#myPictures tbody  tr').get();

            rows.sort(function (a, b) {

                var A = getVal(a);
                var B = getVal(b);

                if (A < B) {
                    return -1 * f;
                }
                if (A > B) {
                    return 1 * f;
                }
                return 0;
            });

            function getVal(elm) {
                var v = $(elm).children('td').eq(n).text().toUpperCase();
                if ($.isNumeric(v)) {
                    v = parseInt(v, 10);
                }
                return v;
            }

            $.each(rows, function (index, row) {
                $('#myPictures').children('tbody').append(row);
            });
        }
        var f_title = 1;
        var f_description = 1;
        var f_album = 1;
        var f_dateCreated = 1;
        var f_amountOfLikes = 1;
        $("#title").click(function () {
            f_title *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_title, n);
        });
        $("#description").click(function () {
            f_description *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_description, n);
        });
        $("#album").click(function () {
            f_album *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_album, n);
        });
        $("#dateCreated").click(function () {
            f_dateCreated *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_dateCreated, n);
        });
        $("#amountOfLikes").click(function () {
            f_amountOfLikes *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_amountOfLikes, n);
        });
    </script>
}