﻿@model PictureGallery.Models.Album

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Title</h2>

<h3>Are you sure you want to delete this album?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="MyIndex">Back to List</a>
    </form>
</div>
