﻿@model PictureGallery.Models.Album

@{
    ViewData["Title"] = Model.Title;
}

<h2> @Html.DisplayFor(model => model.Title)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        @if (ViewBag.CurrentUserId != null)
        {
            <td>
                @{
                    var idFaveBtn = "favebutton_" + Model.Id;
                }
                @if (Model.IsFavorite)
                {
                    <button id='@idFaveBtn' class="buttonIsFavoriteActive">FAVED</button>
                }
                else
                {
                    <button id='@idFaveBtn' class="buttonIsFavorite">Favorite</button>
                }
            </td>
        }
    </dl>
    <hr />
</div>
@foreach (var item in Model.Pictures)
{
    <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id" asp-route-albumId="@Model.Id">
        <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id }) />
    </a>
}

<div>
    @if (Model.User != null && Model.User.Id == ViewBag.CurrentUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit </a> <text>|</text>
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.buttonIsFavorite', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsFavorite')) {
                    $(this).removeClass('buttonIsFavorite');
                    $(this).addClass('buttonIsFavoriteActive');
                }

        var id = this.id;
            $.ajax({
                type: 'POST',
                url: "/Favorites/FavoriteCheck/",
                data: {
                    albumId: id.replace("favebutton_", ""),
                    isFavorite: $(this).hasClass('buttonIsFavoriteActive'),
                    userId : '@ViewBag.CurrentUserId'
                },
                success: function (result) {
                    var tr = "<td>"
                    tr += "<td>" + result.isFavorite + "</td>";
                }
            });
        });
        $(document).on('click', '.buttonIsFavoriteActive', function (event) {
            event.preventDefault();
            if ($(this).hasClass('buttonIsFavoriteActive')) {
                $(this).removeClass('buttonIsFavoriteActive');
                $(this).addClass('buttonIsFavorite');
            }

            var id = this.id;
            $.ajax({
                type: 'POST',
                url: "/Favorites/FavoriteCheck/",
                data: {
                    albumId: id.replace("favebutton_", ""),
                    isFavorite: $(this).hasClass('buttonIsFavoriteActive'),
                    userId: '@ViewBag.CurrentUserId'
                },
                success: function (result) {
                    var tr = "<tr>"
                    tr += "<td>" + result.isFavorite + "</td>";
                }
            });
            });
        });
    </script>
}
