﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}


.row {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
}
.row img{
    margin-right: 8px;
}

.column {
    flex: 55%;
    /*max-width: 95%;*/
    margin-right: 8px;
    
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
   
}


.cover {
    width: 360px;
    height: 290px;
    object-fit: cover;
    border-radius: 3%;
    margin: 10px;
}

.albumrow{
    width: 100px;
    height: 100px;
    object-fit: cover
}
.buttonIsLiked {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonIsLikedActive {
    background-color: darkslategray;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonIsFavorite {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonIsFavoriteActive {
    background-color: darkslategray;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.commentsClass {
    background-color: #e3e4e5;
    border-color: darkslategrey;
    border-radius: 10px 10px;
    padding: 10px;
    width: 300px;
    font-family: Arial;
}

.floated_img {
    display: grid;
    grid-gap: 5px;
}
/*.arrow2{
  
    margin-left: 20px;
}*/
.pic-descript{
    font-family: monospace;
}
/*text=wrap commentil*/
.commentDate{
    font-family: monospace;
}


img.cover:hover {
    opacity: 0.4;
    transition: .1s ease;
}